.header{
    background-color: #82ccdd;
    text-align: center;
    width: 100%;
    height: 70px;
    padding: 20px;
}
.header p{
    font-weight: bold;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
}
.homebutton{
    position: fixed;
    top: 90px;
    right:10px;

}
.homebutton a{
    width: 60px;
    height: 60px;
    background-color: #82ccdd;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: 1px 1px 1px 0.5px black;
    padding: 20px;
}
.addbutton{
    position: fixed;
    top: 600px;
    right:10px;

}
.addbutton a{
    width: 60px;
    height: 60px;
    background-color: #82ccdd;
    border-top-left-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: 1px 1px 1px 0.5px black;
    padding: 20px;
    vertical-align:center;
}
.posts{
    background-color: #dfe6e9;
    margin: 10px;
    border-radius: 5px;
    padding-top: 10px;
    /* padding:10px ; */
    padding-bottom: 10px;
}
.bareModif{
    background-color: #b2bec3;
    display: flex; 
    margin: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}
.title{
    width: 90%;
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
}
.infopost{
    padding-left: 20px;
}
.resume{
    padding-left: 10px;
}
.titreresume{
    background-color: #82ccdd;
    width: 60px;
    border-top-left-radius: 5px;
    border-end-end-radius: 5px;
    padding: 4px;
}
.resumetext{
    padding-left: 10px;
}